In [1]:
#QUESTION1

import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
#sort the list using sort function
ages.sort()
#find minimum and maximum ages
a=min(ages)
b=max(ages)
print('min :',a)
print('max :',b)
print("sorted ages :",ages)
#add minimum and maximum ages to the original list
ages.extend([a,b])
print("after adding min and max :",ages)
ages=[19,22,19,24,20,25,26,24,25,24]
ages.sort()
a=len(ages)
#find median average and range of the given data list 
if(a%2==0) :
    b=int(a/2)
    median = int((ages[b]+ages[b-1])/2)
else :
    b=int(a/2)
    median = int(ages[b])
print("median :",median)
mean = sum (ages) / a
print("average age :",mean)
print("range :",(max(ages)-min(ages)))

min : 19
max : 26
sorted ages : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
after adding min and max : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median : 24
average age : 22.8
range : 7

In [4]:
#QUESTION2 
#Create an empty dictionary called dog
dog = {}
print(type(dog))

#Adding name, color, breed, legs, age to the dog dictionary
dog = { "Name" : "Zee", "Color": "white" , "Breed" : "husky", "Legs" : 4, "age" : 4 } 
print(dog)

#Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
Student = {}
Student = { "first_name": " taran ", "last_name": "kaur", "gender":"female", "age":24, "marital_status": "Not Married", "skills":["Database","Python","AI"], "country":"US","city":"Kansas","address": "Antioch road"}
print(Student)

#length of the student dictionary
print(len(Student))

#value of skills and check the data type, it should be a list
Student["skills"]
print(type(Student["skills"]))

#Modifying the skill values by adding one or two skills
Student["skills"].append("python")
print(Student["skills"])

#Getting the dictionary keys as a list
print (list(Student.keys()))

#Getting the dictionary values as a list
print (list(Student.values()))

<class 'dict'>
{'Name': 'Zee', 'Color': 'white', 'Breed': 'husky', 'Legs': 4, 'age': 4}
{'first_name': ' taran ', 'last_name': 'kaur', 'gender': 'female', 'age': 24, 'marital_status': 'Not Married', 'skills': ['Database', 'Python', 'AI'], 'country': 'US', 'city': 'Kansas', 'address': 'Antioch road'}
9
<class 'list'>
['Database', 'Python', 'AI', 'python']
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
[' taran ', 'kaur', 'female', 24, 'Not Married', ['Database', 'Python', 'AI', 'python'], 'US', 'Kansas', 'Antioch road']

In [5]:
#QUESTION3
"""Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
Join brothers and sisters tuples and assign it to siblings
How many siblings do you have?
Modify the siblings tuple and add the name of your father and mother and assign it to
family_members"""

sisters=('Jass','Mani','Vishu')
brothers=('nikhil','ankit','lucky')
siblings= sisters+ brothers
print(siblings)
siblings_count=len(siblings)
print(siblings_count)
temp_siblings=list(siblings)
temp_siblings.extend(['devi','daya'])

family_members=tuple(temp_siblings)
print(family_members)

('Jass', 'Mani', 'Vishu', 'nikhil', 'ankit', 'lucky')
6
('Jass', 'Mani', 'Vishu', 'nikhil', 'ankit', 'lucky', 'devi', 'daya')

In [4]:
#QUESTION 4_1
import numpy
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#finding length of list
print("lenghth of set_itcompanies:",len(it_companies))
#adding Twitter to list
it_companies.append("Twitter")
print("After Adding 'Twitter' to it_companies:",it_companies)
#inserting ,multiple IT companies
it_companies.extend(["Microsoft","Google","Apple"])
print("After inserting multiple IT companies:",it_companies)
#Removing tcs from the set it_companies
it_companies.remove("Facebook")
print(it_companies)

lenghth of set_itcompanies: 7
After Adding 'Twitter' to it_companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter']
After inserting multiple IT companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'Microsoft', 'Google', 'Apple']
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'Microsoft', 'Google', 'Apple']

In [5]:
#QUESTION 4_2
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#add a and b
c=a.union(b) 
print(c)
print(a.intersection(b))
#Is a subset of b
print(a.issubset(b))
#are a and b disjoint sets
print(a.isdisjoint(b))
#Join a with b and b with a
c=a.union(b)
d=b.union(a)
print(c.union(d))
#the symmetric difference between a and b
print(a.symmetric_difference(b))
#deletE the sets completely
a.clear()
b.clear()
#Convert the ages to a set and compare the length of the list and the set.
print(set(age))
print(len(set(age))<len(age))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
{19, 22, 24, 25, 26}
True

In [6]:
#QUESTION5
#The radius of a circle is 30 meters.
#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

import math 
radius = 30
#area of a circle formula = πr*r
_area_of_circle_ = math.pi * (radius*radius)
print(_area_of_circle_)

#Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
#circumference of a circle formula 2πr
_circum_of_circle_ = 2*math.pi*radius
print(_circum_of_circle_)

#Take radius as user input and calculate the area.

radius_up = int(input("please enter the radius : "))
print(radius_up)
_area_of_circle_ = math.pi * (radius_up*radius_up)
print(_area_of_circle_)

2827.4333882308138
188.49555921538757
please enter the radius : 30
30
2827.4333882308138

In [14]:
#QUESTION6

"""line=“I am a teacher and I love to inspire and teach people” 
• How many unique words have been used in the sentence? Use the split methods and set to get the unique words.""" 
line="I am a teacher and I love to inspire and teach people" 
words_line=line.split(' ') 
print(len(words_line)) 
unique_words= set(words_line) 
unique_words=list(unique_words) 
print(len(unique_words))

12
10

In [13]:
#QUESTION7
"""Use a tab escape sequence to get the following lines. 
Name Age Country City 
Asabeneh 250 Finland Helsinki""" 
print('Name \tAge\tCountry\tCity') 
print('Asabeneh 250\tFinland\tHelsinki')

Name 	Age	Country	City
Asabeneh 250	Finland	Helsinki

In [12]:
#QUESTION8
#Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”

print('The area of the circle with radius %d is %i ms square.' %(radius, area))

SyntaxError: invalid character '“' (U+201C) (2582600115.py, line 5)

In [10]:
#Question9
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
#kilograms in a separate list using Loop. N: No of students (Read input from user)

lb_kg_conversion= 0.45359237
N=int(input('enter the number of students')) 
L1=[] 
for i in range(N): 
 L1.append(int(input('enter the weights ')))
print("Weights of students in lbs :", L1) 
output=[lb_kg_conversion*i for i in L1 ] 
print("Weights of students in kgs :", output)

enter the number of students4
enter the weights 150
enter the weights 155
enter the weights 154
enter the weights 148
Weights of students in lbs : [150, 155, 154, 148]
Weights of students in kgs : [68.0388555, 70.30681735, 69.85322498000001, 67.13167076]